{% extends "common/base.html" %}

{% block content %}
    <h1 class="text-center">Contact Me List</h1>
    <a class="btn btn-primary mb-2" href="{% url 'contactme-create' %}">
        Add Data
    </a>
    <table class="table table-bordered table-hover">
        <thead class="text-center">
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Message</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{ d.id }}</td>
                <td>{{ d.name }}</td>
                <td>{{ d.email }}</td>
                <td>{{ d.phone_number }}</td>
                <td>{{ d.message }}</td>
                <td>
                    <a href="{% url 'contactme-update' pk=d.id %}" class="btn btn-success">Edit</a>
                    <a href="{% url 'contactme-delete' pk=d.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}